@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');

.logo-img {
    max-height: 600px;
}

.container-fluid{
    overflow: hidden;
    }
h1 {
    font-family: 'Pridi', serif;
}